<div class="card-body">
    <div class="container">
        <div class="form-group">
            <%= form_with(model: current_user, url: update_password_user_path(locale, current_user), method: "patch") do |f| %>
                <div class="row form-group">
                    <div class="col-12">
                        <%= f.label :password %>
                        <%= f.password_field :password, class: "form-control"  %>
                    </div>
                    <div class="col-12">
                        <%= f.label :password_confirmation %>
                        <%= f.password_field :password_confirmation, class: "form-control"  %>
                    </div>
                </div>
                <div class = "row">
                    <div class="col text-center">
                        <%= f.submit t('user.change_password.button') , class: "btn btn-large btn-primary" %>
                        <%= link_to t('btn.cancel'), root_path %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>    
</div>