<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<body>
    <fieldset>
        <div class="panel panel-primary">
            <div class="panel-heading">Cadastro de Registro</div>

                <div class="panel-body">
                    <%= form_for @user do |f| %>
                    <div class="form-group">
                        <div class="col-md-12">
                            <%= f.label :name %>
                            <%= f.text_field :name, :class => "form-control"  %>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <%= f.label :login %>
                            <%= f.text_field :login, :class => "form-control"  %>
                        </div>
                        <div class="col-md-6">
                            <%= f.label :email %>
                            <%= f.text_field :email, :class => "form-control"  %>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <%= f.label :password %>
                            <%= f.password_field :password, :class => "form-control"  %>
                        </div>
                        <div class="col-md-6">
                            <%= f.label :password_confirmation %>
                            <%= f.password_field :password_confirmation, :class => "form-control"  %>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <%= f.label :admin %>
                            <%= f.check_box :admin %>
                        </div>
                    </div>
                     <div class = "form-actions">
                        <%= f.submit  "Create my account", class: "btn btn-large btn-primary" %>
                    </div>
                    <% end %>
                </div>
            </div>
        </div
    </fieldset>
</body>
