<div class="card-body">
    <div class="container">
        <div class="row">
            <div class="col-4 input-group">
                <div class="input-group-prepend">
                    <label class="input-group-text"><%= t('record.label.project') %></label>
                </div>
                <label class="label-output"><%= @record.project %></label>
            </div>
            <div class="col-4 input-group">
                <div class="input-group-prepend">
                    <label class="input-group-text"><%= t('record.label.issue') %></label>
                </div>
                <label class="label-output"><%= @record.issue %></label>
            </div>
            <div class="col-4 input-group">
                <div class="input-group-prepend">
                    <label class="input-group-text"><label><%= t('record.label.register') %></label></label>
                </div>
                <label class="label-output"><%= @record.register.strftime("%d/%m/%Y") %></label>
            </div>
        </div>
        <div class="row">
            <div class="col-4 input-group">
                <div class="input-group-prepend">
                    <label class="input-group-text"><%= t('record.label.hour_in')  %></label>
                </div>
                <label class="label-output"><%= @record.hour_in %></label>
            </div>
            <div class="col-4 input-group">
                <div class="input-group-prepend">
                    <label class="input-group-text"><%= t('record.label.hour_out')  %></label>
                </div>
                <label class="label-output"><%= @record.hour_out %></label>
            </div>
            <div class="col-4 input-group">
                <div class="input-group-prepend">
                    <label class="input-group-text"><%= t('record.label.time_spent')  %></label>
                </div>
                <label class="label-output"><%= @record.time_spent %></label>
            </div>
        </div>
        <div class="row">
            <div class="col-12 input-group">
                <div class="input-group-prepend">
                    <label class="input-group-text"><%= t('record.label.comment')  %></label>
                </div>
                <label class="label-output"><%= @record.comment %></label>
            </div>
        </div>
        <div class="row">
            <div class="col-3 input-group">
                <div class="input-group-prepend">
                    <label class="input-group-text"><%= t('record.label.requester') %></label>
                </div>
                <label class="label-output"><%= @record.requester %></label>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <%= link_to t('btn.back'), records_path %>
            </div>
        </div>
    </div>
</div>
