<div class="row mb-4">
    <div class="col-12 input-group">
        <div class="input-group-prepend ">
            <label class="input-group-text">
                <%= f.label :name %>
            </label>
        </div>
        <%= f.text_field :name, class: "form-control"  %>
    </div>
</div>
<div class="row mb-4">
    <div class="col-6 input-group">
        <div class="input-group-prepend ">
            <label class="input-group-text">
                <%= f.label :login %>
            </label>
        </div>
        <%= f.text_field :login, class: "form-control"  %>
    </div>
    <div class="col-6 input-group">
        <div class="input-group-prepend ">
            <label class="input-group-text">
                <%= f.label :email %>
            </label>
        </div>
        <%= f.text_field :email, class: "form-control"  %>
    </div>
</div>

<div class="row mb-4 ">
    <div class="col-12 input-group">
        <div class="input-group-prepend ">
            <label class="input-group-text">
                <%= f.label :admin %>
            </label>
        </div>
        <%= f.check_box :admin %>
    </div>
</div>
<div class="row">
    <div class = "col text-center">
        <%= f.submit t('user.new.button') , class: "btn btn-large btn-primary" %>
        <%= link_to t('btn.cancel'), admin_users_path %>
    </div>
</div>