<div class="card-body">
    <div class="container">
        <div class="row mb-12">
            <%= button_to t('user.menu.new_item'), new_admin_user_path, method: :get, class:"btn btn-info btn-md" %>
        </div>
        <div class="row mb-12">
            <table class="table">
                <thead>
                    <tr>
                        <th><%= t 'user.label.name' %></td>
                        <th><%= t 'user.label.login' %></td>
                        <th><%= t 'user.label.email' %></td>
                        <th><%= t 'user.label.admin' %></td>
                        <th><%= t 'user.label.active' %></td>
                    </tr>
                </thead>
                <tbody>
                    <% @users.each do |user| %>    
                        <tr>
                            <td><%= user.name %></td>
                            <td><%= user.login %></td>
                            <td><%= user.email %></td>
                            <td><%= user.admin %></td>
                            <td><%= user.active %></td>
                            <td><%= link_to t('user.button.edit'), edit_admin_user_path(locale, user) %></td>
                            <% if user.active %>
                                <td><%= link_to t('user.button.deactivate'), deactivate_admin_user_path(locale, user), method: :patch %></td>
                            <% else %>
                                <td><%= link_to t('user.button.activate'), activate_admin_user_path(locale, user), method: :patch %></td>
                            <% end %>
                            <td><%= link_to t('user.button.delete'), admin_user_path(locale, user), method: :delete, data: { confirm: t('user.confirmation_delete') } %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>
