<div class="card-body">
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th><%= t 'user.label.name' %></td>
                    <th><%= t 'user.label.login' %></td>
                    <th><%= t 'user.label.email' %></td>
                    <th><%= t 'user.label.admin' %></td>
                    <th><%= t 'user.label.active' %></td>
                </tr>
            </thead>
            <tbody>
                <% @users.each do |user| %>    
                    <tr>
                        <td><%= user.name %></td>
                        <td><%= user.login %></td>
                        <td><%= user.email %></td>
                        <td><%= user.admin %></td>
                        <td><%= user.active %></td>
                        <td><%= link_to 'Edit', edit_admin_user_path(locale, user) %></td>
                        <% if user.active %>
                            <td><%= link_to('Deactive', deactivate_admin_user_path(locale, user), method: :patch) %></td>
                        <% else %>
                            <td><%= link_to('Active', activate_admin_user_path(locale, user), method: :patch) %></td>
                        <% end %>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>
