<head>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tag %>
</head>
<body>
        <input type="hidden" id="locale" value="<%= I18n.locale %>">
        <div class="container-login">
            <div class="container-login__left">
                <h1 class="container-login__left__title">
                    Contrhora
                </h1>
                <svg width="300" height="304" class="container-login__left__circle">
                    <circle cx="150" cy="152" r="150" fill="inherit" />
                </svg>
            </div>
            <div class="container-login__right">
                <div class="row container-login__right__content">
                    <div class="form-group container-login__right__title col-12">
                        <h2>Login <span class="container-login__right__title__app"> no Contrhora</span></h2>
                    </div>
                    <div class="form-group col-12 container-login__right__form">
                        <% if @session.errors.has_key? :base %>
                            <div class="alert alert-danger" role="alert">
                                <%= @session.errors[:base].join(',') %>
                                <a href="" class="close">&times;</a>
                            </div>
                        <% end %>
                        <%= form_for @session do |f| %>
                            <label class="container-login__right__label">
                                Email
                            </label>
                            <div class="row form-group">
                                <div class="col-12 input-group">
                                    <%= f.text_field :email, :class => "form-control col-12 container-login__right__input" %>
                                </div>
                            </div>
                            <label class="container-login__right__label">
                                Senha
                            </label>
                            <div class="row form-group">
                                <div class="col-12 input-group">
                                    <%= f.password_field :password, class: "form-control col-12 container-login__right__input" %>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col text-center container-login__right__button">
                                    <%= f.submit "Entrar", class: "btn btn-primary" %>
                                </div>
                            </div>
                            <% end %>
                            <p class="container-login__right__new-user">Novo usuário? Solicite um acesso aos administradores do sistema</p>
                    </div>
                </div>
            </div>
        </div>
</body> 