<div class="panel-body">
    <% if @session.errors.has_key? :base %>
        <div data-alert class="alert-box alert radius">
            <%= @session.errors[:base].join(',') %>
            <a href="#" class="close">&times;</a>
        </div>
    <% end %>
    <%= form_for @session do |f| %>
        <div class="col-md-12">
            <%= f.label :email, :class => "col-md-2 control-label" %>
            <%= f.text_field :email, :class => "col-md-6 form-control" %>
        </div>
        <div class="col-md-12">
            <%= f.label :password, :class => "col-md-2 control-label" %>
            <%= f.password_field :password, :class => "col-md-6 form-control" %>
        </div>
        <div class = "form-actions">
            <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
        </div>
    <% end %>
</div>    