<div class="row">
    <div class="col-md-12 text-right">
        <%= t 'total_spent_time' %>
        <%= @total_spent_time %>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th class="text-center"><%= t 'record.label.project' %></td>
            <th class="text-center"><%= t 'record.label.user' %></td>
            <th class="text-center"><%= t 'record.label.time_spent' %></td>
        </tr>
    </thead>
    <tbody>
        <% @records.each do |record| %>    
            <tr>
                <td class="text-center"><%= record[0] %></td>
                <td class="text-center"><%= record[1] %></td>
                <td class="text-right"><%= record[2] %></td>
            </tr>
        <% end %>
    </tbody>
</table>