<!-- Modal -->
<div class="modal fade" id="modalImportCsv" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <%= form_with url: import_admin_records_path, method: :post, remote: true do |form| %>
                <div class="modal-header">
                    <h5 class="modal-title" id="modalImportCsv"><%=t('records.modal.import.title')%></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <%= form.file_field("file_upload", accept: 'text/csv') %><br />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= t('records.modal.import.close') %></button>
                    <%= form.submit t('records.modal.import.file'), class: "btn btn-primary" %>
                </div>
            <% end %>
        </div>
    </div>
</div>