<div class="container">
    <% if flash[:messages] %>
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <p><%= t('records.errors.title') %></p>
            <ul>
                <% flash[:messages].each do |error| %>
                    <li>
                    <%= error%>
                    </li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <%= form_with url: search_admin_records_path, method: :get, remote: true do |form| %>
        <div class="row mb-4">
            <div class="col-3 input-group ">
                <div class="input-group-prepend ">
                    <label class="input-group-text">
                        <%= t 'records.filter.user' %>
                    </label>
                </div>
                <%= form.collection_select :user, User.all, :id, :name, {include_blank: true}, {class:"custom-select, form-control"} %>
            </div>
            <div class="col-5 input-group">
                <div class="input-group-prepend">
                    <label class="input-group-text">
                        <%= t 'records.filter.date.ini' %>
                    </label>
                </div>
                <%= form.date_field :date_ini, class: "form-control" %>
                <div class="input-group-prepend">
                    <label class="input-group-text">
                        <%= t 'records.filter.date.fin' %>
                    </label>
                </div>
                <%= form.date_field :date_fin, class: "form-control" %>
            </div>
            <div class="col-4 input-group">
                <div class="col-3">
                    <%= form.submit t('records.filter.search'), class: "btn btn-success btn-sm" %>
                </div>
                <div class="col-4">
                    <button id="export_csv" class="btn btn-outline-info btn-sm"><%=t('records.filter.export.csv')%></button>
                </div>
                <div class="col-4">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#modalImportCsv">
                        <%=t('records.filter.import.csv')%>
                    </button>
                </div>
            </div>
        </div>
    <% end %>
    
    <div id="grid_records_div">
        <%= render "grid_records" %>
    </div>

    <%= render "modal_import_csv" %>

</div>
