<div class="panel-body">
    <%= form_with url: search_admin_records_path, method: :get, remote: true do |form| %>
        <div class="form-group">
            <div class="col-md-12">
                <div class="col-md-3">
                    <%= t 'filter.user' %>
                    <%= form.collection_select :user, User.all, :id, :name, {include_blank: true} %>
                </div>
                <div class="col-md-5">
                    <%= t 'filter.date.ini' %>
                    <%= form.date_field :date_ini %>
                    <%= t 'filter.date.fin' %>
                    <%= form.date_field :date_fin %>
                </div>
                <div class="col-md-3">
                    <div class="col-md-4">
                        <%= form.submit "Search" %>
                    </div>
                    <div class="col-md-4">
                        <button id="export_csv" class="btn btn-success"><%=t('record.export.csv')%></button>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
    <div id="grid_records_div">
        <%= render "grid_records" %>
    </div>
</div>
