<div class="panel-body">
    <div class = "form-actions">
        <button id="export_csv" class="btn btn-success"><%=t('record.export.csv')%></button>
    </div>
    <%= form_for(admin_records_path, method: :get) do %>
        <div class="form-group">
            <div class="col-md-4">  
                <%= select_tag("user_id", options_from_collection_for_select(User.all, "id", "name", params[:user_id].to_i), {include_blank: true}) %>
                <%= submit_tag ("Search"), name: nil %>
                
            </div>
        </div>
    <% end %>
    <table class="table">
        <thead>
            <tr>
                <th><%= t 'record.label.user' %></td>
                <th><%= t 'record.label.project' %></td>
                <th><%= t 'record.label.issue' %></td>
                <th><%= t 'record.label.register' %></td>
                <th><%= t 'record.label.time_spent' %></td>
            </tr>
        </thead>
        <tbody>
            <% @records.each do |record| %>    
                <tr>
                    <td><%= record.user.name %></td>
                    <td><%= record.project %></td>
                    <td><%= record.issue %></td>
                    <td><%= record.register.strftime("%d/%m/%Y") %></td>
                    <td><%= record.time_spent %></td>
                    <td><%= link_to 'Show', record %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
