<div class="container">
    <div id="errors_messages"></div>
    <%= form_with url: search_admin_records_path, method: :get, remote: true do |form| %>
        <div class="row mb-2">
            <div class="col-8 input-group ">
                <div class="col-6 input-group ">
                    <div class="input-group-prepend col-4">
                        <label class="input-group-text col-12">
                            <%= t 'records.filter.user' %>
                        </label>
                    </div>
                    <%= form.collection_select :user, User.all, :id, :name, {include_blank: true}, {class:"custom-select form-control col-8"} %>
                </div>
                <div class="col-6 input-group ">
                    <div class="input-group-prepend col-4">
                        <label class="input-group-text col-12">
                            <%= t 'records.filter.project' %>
                        </label>
                    </div>
                    <%= form.collection_select :project, Project.actives, :id, :name, {include_blank: true}, {class:"custom-select form-control col-8"} %>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-8 input-group">
                <div class="col-6 input-group">
                    <div class="input-group-prepend col-4">
                        <label class="input-group-text col-12">
                            <%= t 'records.filter.date.ini' %>
                        </label>
                    </div>
                    <%= form.date_field :date_ini, value: @date_ini_default.strftime("%Y-%m-%d"),  class: "form-control col-8" %>
                </div>
                <div class="col-6 input-group">
                    <div class="input-group-prepend col-4">
                        <label class="input-group-text col-12">
                            <%= t 'records.filter.date.fin' %>
                        </label>
                    </div>
                    <%= form.date_field :date_fin, value: @date_fin_default.strftime("%Y-%m-%d"), class: "form-control col-8" %>
                </div>
            </div>
            <div class="col-4 input-group">
                <div class="col-3">
                    <%= form.submit t('records.filter.search'), class: "btn btn-success btn-sm" %>
                </div>
                <div class="col-4">
                    <button id="export_csv" type="button" class="btn btn-outline-info btn-sm"><%=t('records.filter.export.csv')%></button>
                </div>
                <div class="col-4">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#modalImportCsv">
                        <%=t('records.filter.import.csv')%>
                    </button>
                </div>
            </div>
        </div>
    <% end %>
    
    <div id="grid_records_div">
        <%= render "grid_records" %>
    </div>

    <%= render "modal_import_csv" %>

</div>
