<% if user_signed_in? %>
    <nav id="menu" class="menu">
        <ul>
            <li><a href="#"><%= link_to t('home.menu'), root_path %></a></li>
            <li><a href="#"><%= link_to t('record.view.menu.my'), records_path %></a></li>
            <li><a href="#"><%= link_to t('record.new.menu'), new_record_path %></a></li>
            <% if user_admin? %>
                <li><a href="#"><%= link_to t('record.view.menu.admin'), admin_records_path %></a></li>
                <li><a href="#"><%= link_to t('user.new.menu'), new_admin_user_path %></a></li>
                <li><a href="#"><%= link_to t('user.view.menu'), admin_users_path %></a></li>
            <% end %>
        </ul>
    </nav>
<% end %>