<div class="menu">
    <% if user_signed_in? %>
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <%= link_to t('home.menu'), root_path, class:"btn btn-outline-light" %>
            <div class="btn-group" role="group">
                <div class="dropdown">
                    <button type="button" class="btn btn-outline-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <%= t('record.menu.label') %>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <%= link_to t('record.menu.list_item'), records_path, class:"dropdown-item" %>
                        <!--<%= link_to t('record.menu.my_grafic'), grafics_records_path, class:"dropdown-item" %>-->
                        <% if user_admin? %>
                            <%= link_to t('record.menu.list_admin_item'), admin_records_path, class:"dropdown-item" %>
                            <%= link_to t('record.menu.list_admin_item_consolidate'), consolidate_admin_records_path, class:"dropdown-item" %>
                            <!--<%= link_to t('record.menu.time_grafic'), grafics_admin_records_path, class:"dropdown-item" %>-->
                        <% end %>
                    </div>
                </div>
                <% if user_admin? %>
                    <div class="dropdown">
                        <button type="button" class="btn btn-outline-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <%= t('user.menu.label') %>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <%= link_to t('user.menu.list_item'), admin_users_path, class:"dropdown-item" %>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    <% end %>
</div>