<head>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tag %>
</head>
<body>
    <fieldset>
        <input type="hidden" id="locale" value="<%= I18n.locale %>">
        <div class="card">
            <div class="card-header">
                <div class="row header-menu">
                    <div class="col-2">
                        <h4><%= t 'application.name'%></h4>
                    </div>
                    <div class="col-6">
                        <%= render "/layouts/menu" %>
                    </div>
                    <div class="col-2">
                            <%= render "/layouts/language" %>
                    </div>
                    <div class="col-2">
                        <%= render "/layouts/logout" %>
                    </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <%= yield %>
            </div>
        </div>
    </fieldset>
</body>
